h1 {
    font-family: "Permanent Marker", cursive;
}

.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
}

.jumbotron h2 {
    padding: 120px;
    text-align: justify;
}